@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  scroll-behavior: smooth;
  cursor: none;
}

h1>span {
  display: inline-block;
}

h2>span {
  display: inline-block;
}

h1>span>span {
  font-family: 'Montserrat Alternates', sans-serif;
  display: inline-block;
}

.sectionTitle {
  font-family: "Montserrat Alternates", sans-serif;
}

p>span {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  font-weight: 500;
}

hr {
  border: 1px solid #8bd7c2;
}

.points::before {
  content: "•";
  font-weight: bold;
  font-size: 14px;
  color: #8bd7c2;
  display: inline-block;
  width: 1em;
}

.card {
  opacity: 0;
}

.bg-transparent {
  background-color: rgba(0, 0, 0, 0);
}

textarea,
input {
  border-bottom: 1px solid #3d3d3d;
  padding-bottom: 5px;
}

textarea:focus,
input:focus {
  outline: none;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #fff;
}

#main-container {
  background-size: 50%;
}